<h1>CRUD</h1>

<section class="form-section">
    <h2>Criar um novo Serviço</h2>

    <div class="form-group">
        <label for="nome">Nome</label>
        <input id="nome" [(ngModel)]="servicoFormNome" placeholder="Nome" type="text">
    </div>

    <div class="form-group">
        <label for="valor">Valor</label>
        <input id="valor" [(ngModel)]="servicoFormValor" placeholder="Valor" type="number">
    </div>

    <div class="form-group">
        <label for="duracao">Duração (em minutos)</label>
        <input id="duracao" [(ngModel)]="servicoFormDuracao" placeholder="Duração" type="number">
    </div>

    <button class="btn btn-primary" (click)="criarServico()">
        Criar
    </button>
</section>

<section class="services-section">
    <h2>Serviços disponíveis</h2>

    <div class="form-group">
        <label for="search">Buscar</label>
        <input id="search" [(ngModel)]="servicoSearch" placeholder="Nome do serviço" type="text">
    </div>


    <ul class="services-list">
        @for (servico of servicosFiltrados; track servico.id) {
        <li class="service-card">
            <strong class="service-name">
                {{ servico.nome }}
            </strong>

            <span class="service-details">
                <strong>R${{ servico.valor }}</strong> · {{ servico.duracao }} minutos
            </span>

            <div class="service-actions">
                <button class="btn btn-secondary" (click)="editarServico(servico.id)">
                    Editar
                </button>

                <button class="btn btn-danger" (click)="deleteServico(servico.id)">
                    Deletar
                </button>
            </div>
        </li>
        }
    </ul>
</section>
