<section class="app-servico-list">
    <header class="app-servico-list__cabecalho">
        <h4 class="app-servico-list__titulo">Serviços</h4>
        <span class="app-servico-list__contagem">{{ servicos.length }}</span>
    </header>

    @if (servicos.length > 0) {
        <ul class="app-servico-list__itens">
            @for (servico of servicos; track servico.id) {
                <li>
                    <app-servico-item [servico]="servico" />
                </li>
            }
        </ul>
    } @else {
        <p class="app-servico-list__vazio">
            <i aria-hidden="true" class="ti ti-scissors-off"></i>
            Nenhum serviço cadastrado ainda.
        </p>
    }
</section>
