<article class="app-agendamento-item">
    <div class="app-agendamento-item__conteudo">
        <div class="app-agendamento-item__linha-superior">
            <span class="app-agendamento-item__cliente">{{ agendamento.usuarioNome }}</span>
            <span class="app-agendamento-item__data">{{ formatData(agendamento.data) }}</span>
        </div>
        <div class="app-agendamento-item__linha-inferior">
            <span class="app-agendamento-item__servico">{{ agendamento.servicoNome }}</span>
            <span class="app-agendamento-item__duracao">{{ agendamento.duracao }} min</span>
        </div>
    </div>

    @if (authStore.ehGestor()) {
        <button
            (click)="mudar()"
            aria-label="Editar agendamento"
            class="app-agendamento-item__editar"
            type="button">
            <i aria-hidden="true" class="ti ti-pencil"></i>
        </button>

        <button
            (click)="remove()"
            aria-label="Excluir agendamento"
            class="app-agendamento-item__excluir"
            type="button">
            <i aria-hidden="true" class="ti ti-trash"></i>
        </button>
    } @else {
        <div class="app-agendamento-item__acoes">
            <button
                (click)="toggleMenu()"
                [attr.aria-expanded]="menuAberto()"
                aria-label="Ações do agendamento"
                class="app-agendamento-item__menu"
                type="button">
                <i aria-hidden="true" class="ti ti-dots"></i>
            </button>

            @if (menuAberto()) {
                <div class="app-agendamento-item__menu-opcoes">
                    <button (click)="cancelar()" class="app-agendamento-item__menu-opcao" type="button">
                        Cancelar
                    </button>
                    <button (click)="mudar()" class="app-agendamento-item__menu-opcao" type="button">
                        Mudar
                    </button>
                </div>
            }
        </div>
    }
</article>
