<section class="app-disponibilidade-list">
    <header class="app-disponibilidade-list__cabecalho">
        <h4 class="app-disponibilidade-list__titulo">Disponibilidades</h4>
        <span class="app-disponibilidade-list__contagem">{{ disponibilidades.length }}</span>
    </header>

    @if (disponibilidades.length > 0) {
        <ul class="app-disponibilidade-list__itens">
            @for (disponibilidade of disponibilidades; track disponibilidade.id) {
                <li>
                    <app-disponibilidade-item [disponibilidade]="disponibilidade" />
                </li>
            }
        </ul>
    } @else {
        <p class="app-disponibilidade-list__vazio">
            <i aria-hidden="true" class="ti ti-calendar-off"></i>
            Nenhuma disponibilidade cadastrada ainda.
        </p>
    }
</section>
