<section class="app-agendamento-list">
    <header class="app-agendamento-list__cabecalho">
        <h4 class="app-agendamento-list__titulo">Agendamentos</h4>
        <span class="app-agendamento-list__contagem">{{ agendamentos.length }}</span>
    </header>

    @if (agendamentos.length > 0) {
        <ul class="app-agendamento-list__itens">
            @for (agendamento of agendamentos; track agendamento.id) {
                <li>
                    <app-agendamento-item [agendamento]="agendamento" />
                </li>
            }
        </ul>
    } @else {
        <p class="app-agendamento-list__vazio">
            <i aria-hidden="true" class="ti ti-calendar-off"></i>
            Nenhum agendamento por aqui ainda.
        </p>
    }
</section>
